.center {
    text-align: center;
}

html {
    font-family: "Bradley Hand", cursive;
}

.column p, li {
    font-family:"Times New Roman"
}

.border{
    border: 1px solid;
    border-radius:20px;
}

div{
    column-gap: 20px;
}

.table-image{
    min-width: 1000px;
}

.picture-style {
    width: 300px;
    height: auto;
    border-radius: 20px;
}

.page-padding{
    padding:0px 50px 0px 50px;
}
hr{
    width: 95%;
}

.top {
    position: absolute;
    top: 20%;
    left: 40%;
  }
  
  .bottom {
    position: absolute;
    top: 100%;
    left: 40%;
  }

.centered {
    position: absolute;
    top: 60%;
    left: 40%;
  }

  .right {
    float: right;
  }

  .left {
    float:left;
  }

/* https://stackoverflow.com/questions/27842326/how-do-i-add-a-vertical-line-separating-the-two-columns */
.border-right {
    border-right: 1px solid black;
    padding:1px 20px 20px 20px;
}

/* https://coder-coder.com/display-divs-side-by-side/ */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
.row {
    display: flex;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* https://www.w3schools.com/howto/howto_css_cards.asp */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding-top: 30px
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}
